body {
    background-color: black;
    margin: 0px;
  }

/* Hide all sections by default */
section {
    background-color: transparent;
    padding: 2rem;
    display: flex;
    color: white;
    align-items: center;
    flex-direction: column;

  }
  
  /* Style for the header */
  header {
  background-color: grey;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  margin-top: 0px;

  }
  
  /* Style for the navigation buttons */
  nav button {
    background-color: transparent;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
  
  nav button:hover {
    background-color: skyblue;
  }
  
  /* Style for the h1 element */
  h1 {
    color: white;
    margin: 0;
    padding: 0;
  }

  .info-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    align-items: flex-start;
  }
  
  .info-item {
    flex: 1;
    margin-bottom: 10px;
  }

  .profile-image {
    width: 150px;
    height: auto;
    display: flex;
  }

  @media (max-width: 600px) {
    .info-item {
      width: 100%;
    }
  }
  
  .skills-list,
  .contact-container,
  .projects-list {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }
  
  .skills-list li,
  .contact-item,
  .projects-list li {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: calc(33.333% - 1rem);
  }
  
  @media (max-width: 800px) {
    .skills-list li,
    .contact-item,
    .projects-list li {
      width: calc(50% - 1rem);
    }
  }
  
  @media (max-width: 600px) {
    .skills-list li,
    .contact-item,
    .projects-list li {
      width: 100%;
    }
  }
  
  .hobbies-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
  }
  
  .hobbies-list li {
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 5px;
    
  }

  .skills-section {
    background-color: #0c0a0a;
    border: 1px solid #ddd;
    padding: 2rem 2rem 1rem 2rem;
    margin: 2rem 0 1rem 0;
    height: 90px;
  }
  
  .skills-section h2 {
    margin-top: 0;
  }
  
  .skills-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
  }
  
  .skills-item {
    text-align: center;
    flex: 1;
   
    
  }
  
  .skills-item h3 {
    margin-top: 0;
  }
  
  .skills-item p {
    margin-bottom: 0;
  }

  h2{
  text-align: center;
  margin-bottom: 50px;

  }

  .contact-container{

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
  }

  .contact-item {
    text-align: center;
    flex: 1;
  }